<html>
<head>
    <style>
    body {
        background-color: rgb(0, 0, 0);
        font-family: Courier;
        color: rgb(255, 255, 255);
        font-size: 20px;
    }
    a:link {
        color: rgb(147, 210, 0);
        background-color: transparent;
        text-decoration: none;
    }
    a:visited {
        color: rgb(147, 210, 0);
        background-color: transparent;
        text-decoration: none;
    }
    a:active {
        color: rgb(147, 210, 0);
        background-color: transparent;
    }
    </style>
</head>
<body>
<table>
    <tr>
        <th>case id</th><th>cumulative-sum of: image</th><th>knopczynski</th><th>wasserthal</th>
    </tr>
    {% for n,row in df.iterrows() %}
    <tr>
        <td><a href="{{ url_for('review',case_id=row.case_id) }}">
            {{row.case_id}}
        </a></td>
        <td><a href="{{ url_for('review',case_id=row.case_id,kind='image') }}">
            <img loading=lazy src="{{row.img_url}}" alt="…" style="width:256px;">
        </a></td>
        <td><a href="{{ url_for('review',case_id=row.case_id,kind='knopczynski') }}">
            <img loading=lazy src="{{row.knopczynski_url}}" alt="…" style="width:256px;">
        </a></td>
        <td><a href="{{ url_for('review',case_id=row.case_id,kind='wasserthal') }}">
            <img loading=lazy src="{{row.wasserthal_url}}" alt="…" style="width:256px;">
        </a></td>
    </a>
    </tr>
    {% endfor %}
</table>
</body>
</html>
