<html>
<head>
    <style>
    body {
        background-color: rgb(0, 0, 0);
        font-family: Courier;
        color: rgb(255, 255, 255);
        font-size: 20px;
    }
    a:link {
        color: rgb(147, 210, 0);
        background-color: transparent;
        text-decoration: none;
    }
    a:visited {
        color: rgb(147, 210, 0);
        background-color: transparent;
        text-decoration: none;
    }
    a:active {
        color: rgb(147, 210, 0);
        background-color: transparent;
    }
    </style>
</head>
<body>
{% for n,row in df.iterrows() %}
<a href="{{ url_for('review',case_id=row.case_id) }}">
{{row.case_id}}<br><br>
<img loading=lazy src="{{row.png_url}}" alt="…" style="width:100px;">
<br>
</a>
{% endfor %}
</body>
</html>